body {
    background-color: black;
    color: white;
}

header {
    background-color: white;
    text-align: center;
    color: black;
    
}

.container {
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px; 
}

main {
    border: 2px solid white;
    
    width: 60%;
    height: 60%;
}

button {
    background-color: white;
    color:black;
    height: 30px;
    width: 100px;
    border: none;
    padding: 0;
    margin: 5px;
    cursor: pointer;
    font-family: inherit;
    box-shadow: none;
}

button:hover {
    background-color: red;
    color: white;
}